header{
    background-color: #000000;
    height: 75px;
    width: 100%;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

img{
    width: 50px;
}

.produto-sobre{
    display: flex;
    gap: 30px;
}

.tlink{
    text-decoration: none;
    color: white;
}

.tlink:hover{
    color:red;
}