.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulovascao{
    text-align: center;
    padding: 6%;
    font-size: 50px;
    
}
.textovascao{ 
    padding-top: 100px;
    width:300px;
    padding-left: 30px;
    font-size: 30px;

   
}
.vascao{
    width: 500px;
    display:flex;
    padding-top: 100px;
}
.text{
    display: flex;
}
